[submodule "third_party/fmt"]
  path = third_party/fmt
  url = git://https://github.com/fmtlib/fmt.git/

[submodule "third_party/indicators"]
  path = third_party/indicators
  url = git://https://github.com/p-ranav/indicators.git/

[submodule "third_party/tabulate"]
   path = third_party/tabulate
   url = git://https://github.com/p-ranav/tabulate.git/